<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyATY-l5kDwX3xgrp8JU7LM_Bln80taE9_E</string>
	<key>GCM_SENDER_ID</key>
	<string>614417557875</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.volunteeru</string>
	<key>PROJECT_ID</key>
	<string>volunteeru-5b1dd</string>
	<key>STORAGE_BUCKET</key>
	<string>volunteeru-5b1dd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:614417557875:ios:3bf31e501c0975b40afd06</string>
</dict>
</plist>